In [1]:
import numpy as np
import pandas as pd
cbe=pd.read_csv('cbe.csv')
banglore=pd.read_csv('banglore.csv')

In [25]:
val=[]
for i in cbe['salary']:
    if(type(i)==float):
        val.append(10000)
    else:
        s1="".join(j for j in i.split()[0] if  j.isdecimal())
        s2="".join(j for j in i.split()[2] if  j.isdecimal())
        print(s1,s2,sep=" ")
        if(s1==""):
            s1=0
        if(s2==""):
            s2=0
        avg=(int(s1)+int(s2))/2
        val.append(avg)

8524 42268
500000 1220095
 40000
200000 300000
 2200000
10000 40000
800000 1500000
300000 700000
60000 75000
 750000
 1100000

800000 1200000
300000 600000
10000 20000
250000 350000
15000 40000
347530 1497828
 600000
15000 50000
15000 35000
90000 100000
15000 40000
300000 600000
12000 25000
240000 350000
1400000 1500000
30000 35000
25000 75000
500000 600000

300000 500000
300000 400000

1500000 2000000
1347678 6403012
600000 1200000
 46829
18086 35153
200000 500000
150 300
25000 35000
1500000 1800000

In [32]:
np_val=np.asarray(val)
print('average annual salary for python developer in coimbatore is '+str(np.average(np_val)))

average annual salary for python developer in coimbatore is 268178.2662337662